
* {
    box-sizing: border-box;
}

@font-face{
        font-family: 'Raleway';
        src: url(Raleway-Police/Raleway-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
}

body
{
    font-family: 'Raleway', 'sans-serif';
    margin: 0;
}

header
{
    margin: 0 2%;
}

main
{
    margin: 0 2%;
}
#imglogo
{
    height: 53px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2%;
}

nav a, body section a
{
    text-decoration: none;
    color: black;
}

.container_heb_act
{
    padding: 12px 30px;
}
header nav a:hover
{
    border-top: 1px solid;
    color: #0065FC;
}

.containerlogo
{
    display: flex;
    justify-content: start;
    flex: 20%;
}

.containernav
{
    flex: 60%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.containerlogin
{
    color:#0065FC;
    text-align: end;
}

header nav ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0px;
}

nav ul
{
    list-style-type: none;
}

#loginstyle
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    padding: 12px 18px;
    font-size: 20px;

}


#loginstyle:hover
{
    border-top: 1px solid blue;
    /*border-top-width: thin;*/
}
header h1
{
    font-size: 18px;
}

header h2
{
    font-size: 17px;
    font-weight: unset;
    font-family: 'Raleway', Arial, sans-serif;
}

#container_search
{
    height: 39px;
    display: flex;
    flex-wrap: nowrap;
}
.mapfa
{
    color: black;
    border-style: hidden;
    background-color: #f2f2f2;
    padding: 0.5em;
    font-size: 18px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    text-align: center;
}

#serchbutton
{
    display: flex;
    align-items: baseline;
    background-color: #0065FC;
    color: white;
    border-style: hidden;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}

.recherche
{
    margin: 11px 0;
}

.zoom_icon
{
    visibility: hidden;
    position: absolute;
}

#serchholder
{
    font-size: 19px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: #f2f2f2;
    padding-left: 11px;
}

#container_filters
{
    display: flex;
}

#navfilter
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0%;
    width: 870px;

}

.filterword
{
    font-weight: bold;
    font-size: 19px;
}

.stylelabel1, .stylelabel2, .stylelabel3, .stylelabel4
 {
    color: black;
    background-color: white;
    border: #e6e6e6 2px;
    border-style: solid;
    border-radius: 25px;
    font-size: 19px;
    margin: 1px;
    font-weight: bold;
    width: 190px;
}

.stylelabel2
{
    width: 147px;
}

.stylelabel3{
    width: 184px;

}

.stylelabel4{
    width: 240px;
}

.stylelabel1:hover, .stylelabel2:hover, .stylelabel3:hover, .stylelabel4:hover
{
    color: white;
    background-color: #0065FC;
}

.filterlabels
{
    padding-left: 8%;
    cursor: pointer;
}


.myfas
{
    background-color: #DEEBFF;
    border-radius: 30px;
    font-size: 20px;
    border-style: hidden;
    padding: 10px;
    cursor: pointer;
}

i
{
    color:#0065FC;
    font-size: 10px;
}

#secheber
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fainfo
{
    float: left;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: thin;
    padding: 4px 6px;
    font-size: 8px;
    border-radius: 10px;
}

#infocontainer
{
    display: flex;
    flex-direction: row;
}

#pinfo
{
    padding: 0 1px 0 24px;
}

.h2_section, .p2_section, .h2_section2
{
    width: 100%;
    font-weight: bold;
    padding-left: 2%;
    font-size: 20px;
}

.p2_section
{
    font-size: 17px;
}

.h2_section2
{
    padding-left: 1%;
}

.container_figure-section1
{
    width: 30%;
    margin-bottom: 3%;
    border-style: hidden;
    height: 197px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 1px 2px 7px lightgrey;
}

.figure_style1
{
    margin: 0;
}

.imgheber
{
    width: 100%;
    height: 122px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 3px 3px 1px 4px;
    object-fit: cover;
}

.grey-star
{
    color: lightgray;
}


.figcap
{
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0 0 7px;
}

.p_fig
{
    font-size: 12px;
    margin: 2px 7px;
}


.p_side
{
    font-size: 12px;
}
.cantainer_star
{
    margin: 2px 7px;
}

#main
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:65%;
    background-color: #f2f2f2;
    border-radius: 13px;


}

#side
{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 13px;

}

.graphfa
{
    font-size: 20px;
    color: black;
    padding-right: 2%;
}

.container_caption
{
    height: 100%;
    padding-left: 5%;
}

.container_figure3
{
    width: 90%;
    height: 30%;
    margin: auto;
}
.figure_style3
{
    margin: 0%;
    display: flex;
    background-color: white;
    width: 100%;
    height: 80%;
    border-radius: 13px;
}

.imgside
{
    width: 43%;
    padding: 4px 0px 4px 4px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    object-fit: cover;
}

.h2_side
{
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0 0 0;
}

.p_star
{
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p2_star
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}
#graph
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin: 0px 6%;
}


#sec_activités
{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0 5% 0;
}

.figure_style2
{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 0;
    box-shadow: 1px 2px 7px lightgrey;
    border-radius: 14px;
}

.fig_styl2{
    margin: 0 27px;
}
.container_column1
{
    width: 25%;
}

.img_column1
{
    height: 91%;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.container_column2
{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}

.fig2
{
    margin: auto;
    width: 90%;
    height: 220px;
    box-shadow: 1px 2px 7px lightgrey;
    border-radius: 14px;
}

.fig_2{
    margin-right: 0;
}

.fig3
{
    margin: auto;
    width: 90%;
    height: 150px;
    box-shadow: 1px 2px 7px lightgrey;
    border-radius: 14px;
}

.fig_3{
    margin-right: 0;
}

.figcapact
{
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 1px 10px;
}

.figcapstyle
{
    margin: 6px 13px;
}

.img_fig2
{
    width: 100%;
    height: 85%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
}

.img_fig3
{
    width: 100%;
    height: 78%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
}

#container_footer
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2f2f2;
    padding:18px;
    justify-content: space-around;
}

.titles_footer
{
    font-weight: bolder;
}

.nav_footer
{
    width: 220px;
    padding-top: 21px;
}

.ul_footer
{
    padding: 0%;
}


/*-------------------------------------------------------------------------------*/
                            /*for Tablet*/

@media screen and (max-width: 768px) {

    #containerlogo
    {
        flex: 10%;
    }

    .containernav
    {
        flex: 50%;
    }

    #container_serch{
        height: 40px;
    }
    .mapfa
    {
        width: 37px;
    }

    .filterword{
        width: 100%;
    }

    #serchholder{
        font-size:16px ;
        width: initial;
        font-weight: bold;
    }

    #serchbutton{
        font-size:16px;
        width: initial;
    }

    #navfilter
    {
        width: 75%;
    }

    .stylelabel2 {
        margin-right: 17%;
    }
    #main
    {   
        width: 100%;
        margin-bottom: 20px;
    }

    .container_figure-section1
    {
        width: 46%;
    }

    .h2_section{
        padding-left: 3%;
    }

    #side
    {
        width: 100%;
    }
    
    #graph
    {
        margin: 0 4%;
    }

    .h2_section2 {
        padding-left: 3%;
    }

    .container_column1
    
    {
        order: 1;
        width: 50%;
        margin-bottom: 4%;
    }
    
    .container_column2
    {
        order: 2;
        width: 50%;
        margin-bottom: 4%;
    }

    .column2{
        order: 3;
    }

    .column1{
        order: 4;
    }

    .figure_style2, .fig2, .fig3, .fig_styl2,.fig_2
    {
        margin: auto;
    }

    #container_footer
    {
        display: flex;
        justify-content: end;
    }

    .nav_footer
    {
        width: 50%;
    }
}

/*-------------------------------------------------------------------------------*/
                            /*for mobile*/

@media screen and (max-width: 600px) {
    
    header{
        margin: 0;
    }
    .containernav
    {
        order: 3;
    }

    .container_heb_act
    {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid lightgrey;
    }
    
    #containerlogo
    {
        order: 1;
        margin-left: 15px;
    }

    .containerlogin
    {
        order: 2;
    }

    header nav a:hover
    {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    
    header nav ul
    {
        
        width: auto;
        justify-content: unset;
    }

    #navfilter{
        width: 870px;
    }

    header h1
    {
        font-weight: bold;
        font-size: 26px;
    }
    Header h2
    {
        font-size: 21px;
        margin-bottom: 27px;
    }

    #container_search
    {
        width: 100%;
        height: 50px;
    }

    #serchholder
    {
        width: 70%;
        font-size: 23px;
    }

    .mapfa
    {
        width: 13%;
        padding-top: 14px;
        font-size: 21px;
    }

    #serchbutton
    {
        width: 13%;
    }
    
    .recherche
    {
        visibility: hidden;
        position: absolute;
    }

    .zoom_icon
    {
        color: white;
        font-size: 24px;
        visibility: visible;
        padding: 3% 2%;
    }
    
    #container_h1_h2_search
    {
        padding-left: 4%;
    }

    #container_info
    {
        padding-left: 5%;
    }

    #pinfo
    {
        font-size: 17px;
    }

    .stylelabel2 {
        margin-right: 1px;
    }

    main
    {
        margin: 0;
    }

    #main
    {
        order: 2;
        width: 100%;
        margin-bottom: 20px;
        background: unset;
        border-radius: unset;
    }

    #side
    {
        order: 1;
        border-radius: unset;
    }

    #graph
    {
        padding: 0 15px;
    }

    .container_figure-section1
    {
        width: 100%;
    }

    .container_column1
    {
        width: 100%;
        margin-bottom: 5%;
    }

    .container_column2 {
        width: 100%;
    }

    .figure_style2, .fig2, .fig3
    {
        width: 90%;
        height: 10em;
    }

    .img_fig2, .img_fig2, .img_column1
    {
        height: 78%;
    }

    .a_activité
    {
        margin-bottom: 5%;
    }
    .nav_footer
    {
        width: 100%;
    }

    }