
* {
    box-sizing: border-box;
}

@font-face{
        font-family: 'Raleway';
        src: url(Raleway-Police/Raleway-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
}

body
{
    font-family: 'Raleway', 'sans-serif';
}

#imglogo
{
    width: 70px;
    height: 38px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav a, body section a
{
    text-decoration: none;
    color: black;
}

.container_heb_act
{
/*   padding-left: 30px;*/
    padding: 16px 21px;
}
header nav a:hover
{
border-top-style: solid;
border-top-color: blue;
color: blue;
border-top-width: thin;
}

.containerlogo
{
    display: flex;
    justify-content: start;
    flex: 20%;
}
.containernav
{
    display: flex;
    justify-content: flex-end;
    flex: 60%;
}
.containerlogin
{
    color:#0065FC;
    text-align: end;
    padding: 0px 15px 0pc 20px;
}

header nav ul{
    display: flex;

}

nav ul
{
    list-style-type: none;

}

nav li
{
    margin-right: 10px;
}

#loginstyle
{
    text-decoration: none;
    color: blue;
    font-weight: bold;

}

#loginstyle :hover
{
    border-top-color: red;
    /*border-top-width: thin;*/
}
header h1
{
    font-size: 15px;
}

header h2
{
    font-size: 11px;
    font-family: 'Thin', Arial, sans-serif;
}

#container_search
{
    display: flex;
    flex-wrap: nowrap;
}
.mapfa
{
    color: black;
    border-style: hidden;
    background-color: #f2f2f2;
    width: 28px;
    font-size: 12px;
    padding: 10px 2px 1px 11px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

#serchbutton
{
    background-color: #0065FC;
    color: white;
    border-style: hidden;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 83px;
    height: 32px;
    font-size: 12px;
    cursor: pointer;
}

#serchholder
{
    height: 32px;
    width: 155px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: #f2f2f2;
}

#container_filters
{
    display: flex;
}

#navfilter
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;
    width: 700px;

}
.stylelabel1, .stylelabel2, .stylelabel3, .stylelabel4
 {
    color: black;
    background-color: white;
    border: #e6e6e6 2px;
    border-style: solid;
    border-radius: 16px;
    font-size: 13px;
    margin: 1px 1px 1px 1px;
    font-weight: bold;
    width: 130px;
    height: 25px;
}

.stylelabel2
{
    width: 106px;
    height: 29px;
}

.stylelabel3{
    width: 123px;
    height: 25px;

}

.stylelabel4{
    width: 178px;
    height: 25px;
}
.filterlabels
{
    padding: 10px;
}


.myfas
{
    background-color: #e6e6e6;
    border-radius: 11px;
    /* border-radius: 12px 11px 11px 4px; */
    border-style: hidden;
    padding: 8px 7px;
   /* color: blue;*/
    
}

i
{
    color:#0065FC;
    font-size: 10px;
}

#secheber
{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.fainfo
{
    float: left;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: thin;
    padding: 4px 6px;
    font-size: 8px;
    border-radius: 10px;
}

#infocontainer
{
    display: flex;
    flex-direction: row;
}
#pinfo{
    font-size: 12px;
    margin: 3px 0px 0px 20px;
    padding-top: 2px;
}

.container_figure-section1
{
    width: 30%;
}
.figure_style1
{
    margin: 0;
    border-style: hidden;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

#imgheber
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 3px 1px 4px;
}


.figcap
{
    font-size: 10px;
    font-weight: bold;
}

.p_fig
{
    font-size: 9px;
    padding-left: 14px;
}

.figcap
{
    font-size: 14px;
    padding-left: 14px;
}

#main
{
    display:flex;
    flex-direction: column;
    flex: 60%;
    /*border-right: 19px;
    border-style: solid;
    border-color: white;*/
    background-color: #f2f2f2;
    border-radius: 13px;


}

#side
{
    background-color: #f2f2f2;
    flex: 24%;
    border-radius: 13px;

}

.graphfa
{
    font-size: 12px;
    color: black;
    padding-right: 31px;
}

.container_figure3
{
    width: 90%;
    height: 30%;
    margin: auto;
}
.figure_style3
{
    margin: 0%;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

.imgside
{
    width: 30%;
    padding: 4px 0px 4px 4px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

#empty
{
    flex: 1%;
}


#graph
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0px 6%;
}


#sec_activités
{
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    margin: 47px 0px;
}

.figure_style2
{
    width: 94%;
    height: 93%;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 1px 2px 7px lightgrey;
    border-radius: 11px;
}

#container_footer
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 11px;
    box-shadow: 1px 2px 7px lightgrey;
}

.titles_footer
{
    font-weight: bolder;
}

.container_column1
{
    width: 25%;
}

.img_column1
{
    height: 90%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.container_column2
{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: space-between;
}

#fig2
{
    margin: auto;
    width: 93%;
    height: 70%;
    box-shadow: 1px 2px 7px lightgrey;
}

#fig3
{
    margin: auto;
    width: 93%;
    box-shadow: 1px 2px 7px lightgrey;
}
#img_fig2
{
    width: 100%;
    height: 84%;
}

#img_fig3
{
    width: 100%;
}
header
{
    border: 3px solid red;

}

main{
    border: 3px solid goldenrod;
}

#container_footer
{
    border: 3px solid;
}

/*--------------------------------------------------------------------*/
           /*for mobile*/

@media screen and (max-width: 600px) {
    
    .containernav
    {
        order: 3;
        border-bottom: 2px solid lightgrey;
    }

    .container_heb_act
    {
    }
    
    #containerlogo
    {
        order: 1;
        flex: 25%;
    }

    .containerlogin
    {
        order: 2;
    }

    header nav ul{
        justify-content: space-around;
        flex: 100%;
        padding: initial;
    }

    header nav a:hover
    {
        border-bottom: 3px solid blue;
        border-top: none
    }
    }
    